.home-item{
  display:flex;
  flex-flow: column nowrap;
  text-align:center !important;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.home-image{
  height:120px;
  width:120px;
}
.home-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
